body {
    margin: 0;
    background-image: url("smtp-server.jpg");
    background-position: center;
}

.header
{
    height: 60px;
}

.link_bar{
    padding-top: 30px;
    margin-right: 10%;
}

.table{
    float: right;
}

.heading_table_bar{
    color: white;
    padding-right: 25px;

}

.main_box{
    height: 100%;
    padding-top: 20px;
    margin-left: 10%;
    width: 80%;
    color: white;
    background-color: gray;
    opacity: 0.5;
}